# This is a basic workflow to help you get started with Actions

name: "Three Tier Landing Zone Workflow"

on: 
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

permissions: 
    id-token: write
    contents: read
env:
  TF_DIR: environments/dev/
  client-id: ${{ secrets.AZURE_CLIENT_ID }}
  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  
jobs:
    build: 
      runs-on: [self-hosted , ThreeTierVMSS]

      steps:
          - name: checkout repo
            uses: actions/checkout@v4

            name: Azure login with OIDC
            uses: azure/login@v1
            with:
              client-id: ${{ env.client-id }}
              tenant-id: ${{ env.tenant-id }}
              subscription-id: ${{ env.subscription-id }}

            name: Terraform Init
            working-directory: ${{ env.TF_DIR }}
            run: terraform init --var "subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}"


